/*your custom css goes here*/

.badge-custom {
    display: inline-block;
    padding: 3px;
    font-size: 11px;
    border-radius: 0 50em 50em 0;
    color: #ff0000;
    font-weight: 600;
    line-height: 26px;
    position: absolute;
    background: #fff;
    z-index: 1;
    top: 20px;
    box-shadow: 2px 1px 6px 2px rgba(0, 0, 0, 0.1), 0 4px 4px 0px rgba(0, 0, 0, 0.06) !important;
}
.badge-custom .box {
    height: 26px;
    width: 26px;
    background: #ff0000;
    color: #fff;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
}


{
    actualWidth: 692;
    actualHeight: 203;
}

.carousel .carousel-control-prev-icon{
    position: absolute;
    top: 50%;
    z-index: 2;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    width: 40px;
    height: 40px;
    background: #fff;
    border-radius: 50em;
    border: 0;
    box-shadow: 0 0 1px 1px rgba(20, 23, 28, 0.1),
    0 3px 1px 0 rgba(20, 23, 28, 0.1);
    font-size: 15px;
    line-height: 40px;
    padding: 0;
    text-align: center;
}


.ranking-main {
    width: 100%;
    padding: 0;
    margin-top: 3px;
}

._3b77i {
    width: 100%;
    height: 175px;
    min-height: 169px;
    font-family: Open Sans,Roboto,Arial,Helvetica,sans-serif,SimSun;
    cursor: pointer;
}
._3b77i ._1klqZ {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 16px 12px;
    overflow: hidden;
    border-radius: 8px;
}
._3b77i ._1klqZ ._1r8bG {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 204px;
    padding-right: 12px;
}
._17Zae ._2Z33F {
    margin: 4px 0;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
}
._17Zae ._3yqUR {
    margin: 0;
    color: #fff;
    font-size: 14px;
}
._1pzk6 {
    width: 192px;
    height: 55px;
    padding: 0 45px 0 14px;
    overflow: hidden;
    background: transparent;
    background-size: contain;
}
._1pzk6 ._1OU-S {
    margin: 11px 0 4px;
    color: #fff;
    font-size: 20px;
    line-height: 17px;
}
._1pzk6 ._2UxGq {
    width: 100%;
    margin: 0;
    overflow: hidden;
    color: #fff;
    font-size: 12px;
    white-space: nowrap;
    text-overflow: ellipsis;
}
._3b77i ._1klqZ .wGiim {
    display: flex;
    flex: 1 1;
    justify-content: flex-end;
}
._3b77i ._1klqZ .wGiim ._2bRWn {
    width: 452px;
}
._2EB3t {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.KGMPS {
    width: 114px;
    height: 145px;
    padding: 0 2px;
    overflow: hidden;
    text-align: center;
    border-radius: 8px;
}
.KGMPS ._1S5TX {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 4px;
    background-color: #fff;
}
.KGMPS ._1S5TX .EfdcE {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: 4px;
}
.KGMPS ._1S5TX ._23vXL {
    display: inline-block;
    align-self: center;
    margin-top: -10px;
    padding: 2px 8px;
    color: #fff;
    font-weight: 700;
    font-size: 13px;
    background-color: #ff4747;
    border-radius: 12.22px;
}
.KGMPS ._1S5TX ._1N9Dk {
    display: block;
    margin-top: 3px;
    color: #666;
    font-size: 12px;
    text-decoration: line-through;
}
